/* 
    Document   : button
    Created on : 9/12/2011, 01:49:15 PM
    Author     : JP
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
/*
*/.button-disabled{
    /*color: #A2B5CD;*/
    color: #778899;
    /*color: #A2B5CD*/
    /*color:*/
   
    
}
